.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    background-color: #f8bdcb;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
.nav li:hover{
    color: #f96083;
}